/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul { margin: 0; padding: 0; list-style: none }
img { max-width: 100%; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*****************************************
                THEME
*****************************************/
header {
    background: #000;
}

header nav form input {
    border: none;
}

header nav a {
    color: #04B4AE;
    text-decoration: none;
    font-weight: bold;
}
/*********
MAIN list-categorie
**********/
main .list-categorie > div {
    border-bottom: 2px solid #04B4AE;
    text-indent: 20px;
}

main .list-categorie ul li:first-child {
    border-top: 1px solid black;
}

main .list-categorie li {
    background: #ccc;
    border-bottom: 1px solid black;
    text-indent: 10px;
}

main .list-categorie li a {
    color: #0489B1;
    font-weight: bold;
    text-decoration: none;
}

main .list-categorie li p {
    border-right: 1px solid #000 ;
}

main .list-categorie li:first-letter {
    text-transform: uppercase;
}

main .list-categorie .topic-new-msg {
    color: #045FB4;
}

main .list-categorie .notView {
    color: #045FB4;
}

/*********
MAIN ALERT
**********/
main .alert {
    background: #A9F5F2;
    border: 2px solid #04B4AE;
    margin-bottom: 30px;
}

/*********
MAIN TOPIC
**********/

main .sujet-principal {
    background: #A9E2F3;
}

main .sujet:nth-child(odd) {
    background: #ccc;
}

.moderateur {
    color: orange;
}

.s-admin {
    color: red;
}

/*********
MAIN MEMBRES
**********/
main .membres {

}

/*********
FOOTER
**********/
footer {
    background: #000;
    color: #fff;
}

/*****************************************
                STATE
*****************************************/
header nav a:hover {
    color: #E6E6E6;
}
/*********
MAIN list-categorie
**********/
main .list-categorie li:hover {
    background: #eee;
}

/*****************************************
                STRUCTURE
*****************************************/
.wrapper {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}
body {
    position: relative;
    padding-bottom: 80px;
}

header {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*****************************************
                LAYOUT
*****************************************/
/********
HEADER
*********/
header nav form {
    float: right;
    padding: 10px 0;
}

header nav .menu-connect {
    float: left;
}

header nav li {
    display: inline-block;
}

header nav li a {
    display: inline-block;
    padding: 10px 10px;
}

/*********
MAIN ALERT
**********/
main .alert p {
    margin: 0;
    padding: 10px 30px;
}

/*********
MAIN INSCRIPTION
**********/
main .inscription {
    text-align: center;
    margin: 0 auto;
}

main .inscription input {
    margin-bottom: 15px;
}

main .inscription label {
    display: block;
}

/*********
MAIN TOPIC
**********/
main .sujet {
    border: 2px solid #aaa;
    margin-bottom: 10px;
}

main .sujet h3 {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 10px 0 10px 30px;
}

main .sujet .info-user {
    float: left;
    padding: 20px 0 0 10px;
    border-right: 1px solid black;
    width: 25%;
    box-sizing: border-box;
}

main .sujet .info-user img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
}

main .sujet .body-msg {
    float: left;
    /*border: 1px solid black;*/
    width: 75%;
    box-sizing: border-box;
    padding: 2px 20px;
}

main .sujet .modif-bar {
    border-top: 1px solid black;
    text-align: right;
    padding: 5px 20px 5px 0;
}

main .form-reply textarea {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

/*********
MAIN list-categorie
**********/
main .createNewTopic
{
    display: inline-block;
    background: #7fbf4d;
    background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
    border: 1px solid #63a62f;
    border-width: 1px 1px 0 1px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font-family: "lucida grande", sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 15px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    text-decoration: none;
    margin-bottom: 5px;
}
 
main .createNewTopic:hover
{
    background: #5a962c;
    background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}

main .list-categorie h3 {
    margin: 0;
    float: left;
    box-sizing: border-box;
    width: 50%;
}

main .list-categorie > div > span {
    float: right;
    box-sizing: border-box;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

main .list-categorie > div {
    margin-top: 50px;
    margin-bottom: 5px;
}

main .list-categorie li {
    padding: 10px 0;
}

main .list-categorie li p {
    margin: 0;
    display: block; 
    float: left;
    width: 70%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

main .list-categorie li > span {
    float: right;
    padding: 0 20px 0 0;
}

main .list-categorie .writeBy {
    font-size: 0.6rem;
}

main .list-categorie .topic-new-msg {
    float: right;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

/*********
MAIN PROFILE
**********/
main .profile form p {
    position: relative;
    width: 300px;
}

main .profile input:not([type="submit"]):not([type="file"]) {
    position: absolute;
    right: 0;

    width: 150px;
}

main .profile img {
    max-width: 200px;
    max-height: 200px;
}

/*********
MAIN MEMBRES
**********/
main .membres img {
    max-width: 30px;
    max-height: 30px;
}

main .membres table {
    margin: 0 auto;
}

main .membres tr {
    border: 1px solid black;
}

main .membres td {
    border: 1px solid black;
    padding: 8px;
}

/*********
MAIN MEMBRES
**********/

main .createTopic input:not([type="submit"]), main .createTopic textarea {
    width: 100%;
    margin-bottom: 30px;
}

main .createTopic textarea {
    height: 400px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}